/* colors: dark salmon: #a7340b; light salmon: #a7350b4f
background: ##f5e2be96; nav: wheat, hover #a7350b4f; text olive: #343326
*/

h1{
    color: #a7340b;
    font-size: 42px;
    margin: 0px 0px;
    text-align: center;
}

h2{
    color: #a7340b;
    font-size: 30px;
    text-align: center;
}

/* p{
    margin: 50px 0px 25px 100px;
}
 */
a {
    text-decoration: none;
    color: #a7340b;
    font-weight: bold;
    font-size: 12px;
}

header {
    display: inline-flex;
}

#hero {
    margin: 20px 20px;
    width: 280px;
    
}

#backButton {
    margin: 20px 20px 0px;

}

#salesButton {
    float: right;
}

body{
    background-color: #f5e2be96;
    color: #343326;
}

nav{
    display: inline-flex;
    margin: 100px;
}

nav ul li{
    font-size: 20px;
    font-weight: 300;
    display: inline;
    border: 2px solid #a7340b;
    padding: 10px;
    color: #343326;
    background-color:wheat;
    margin: 25px;
    border-radius: 12%;
}

 nav ul li:hover{
    background-color: #a7350b4f;
}

#salesData2{
    margin: 80px;
    width: auto;

}

#salesData2 tr:first-child {
    height: 50px;
    border: none;
    font-weight: bolder;
}

#salesData2 td {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;

}


/* #salesData {
  margin: 50px;
}

#salesData ul{
    margin: 25px 0px;
}

li{
    line-height: 1.5;
    margin-left: 150px;
}
 */

footer {
    margin: 300px 20px 0px;
}