/* colors: dark salmon: #a7340b; light salmon: #a7350b4f
background: ##f5e2be96; nav: wheat, hover #a7350b4f; text olive: #343326;
san-serif font-family (data): Arial, Helvetica ;
serif font-family (text): Georgia, 'Times New Roman', Times, serif;
custom google font-family (highlights: 'Courgette', cursive;*/

h1{
    color: #a7340b;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Courgette', cursive;
}

h2{
    color: #a7340b;
    font-size: 42px;
    text-align: center;
    padding: 60px 50px;
    font-family: Arial, Helvetica, sans-serif;
}

    
#hours-contact{
    display: inline-flex;
    align-content: space-between;
    margin: 100px;
    
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
    
}

b{
    font-weight: bolder;
}

li{
    line-height: 1.5;
}


header {
    display: inline-flex;
}

#hero{
    max-height: 150px;
    margin: 45px 20px 0px;
    
}

#family {
    max-width: 250px;
    border: 2px solid #a7340b;
    border-radius: 12%;
    margin-left: 20px;
}

#backButton {
    margin: 0px 20px 0px;
    
}

#salesButton img, #backButton img{
    max-width: 50px;
}

#salesButton{
    margin: 75px 20px 0px 75px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f5e2be96;
    color: #343326;
}

nav{
    display: inline-flex;
    margin: 50px 0px 0px ;
}

nav ul li {
    font-size: 15px;
    font-weight: 300;
    display: inline;
    border: 2px solid #a7340b;
    padding: 10px;
    color: #343326;
    background-color:wheat;
    margin: 20px;
    border-radius: 12%;
}

nav ul li:hover{
    background-color: #a7350b4f;
}

#main-copy{
    margin:  2px 225px;
}

#italic{
    font-style: italic;
    color: #a7340b;
}

#bold{
    font-style: bolder;
    color: #a7340b;
    font-weight: bolder;
    text-decoration: underline;
}


#hours-contact {
    
    margin-left: 175px;
    
}

#hours-contact img{
    width: 450px;
    align-content: center;
}

#hours{
    padding: 80px 100px 0px 0px;
}

#contact{
    padding: 80px 0px 0px 100px;
    
}
    
#products {
    display: inline-flex;;
    margin: 0px 80px;
}

#products > figure{
    height: 400px;
    margin: 50px 
}

figcaption{
    line-height: 1.5;
    font-size: 15px;
    margin-left: 2%;
}


#salesData2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px;
    width: auto;

}

#salesData2 th {
height: 50px;
border: none;
padding: 7px;
font-weight: bolder;
}

#salesData2 tr:first-child > td {
    border: none;
}

#salesData2 tr:nth-child(2n +1) {
    background-color: wheat;
}

#salesData2 td {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;

}

#salesMain {
    display: inline-flex;
    align-content: space-between;
    justify-items: center;
    margin: 100px;
    background-color: wheat;
    border: 1px solid #a7340b;
    width: 85%;
}

#salesMain > image{
    max-height: 60 px;
    padding: 0px 50px;
}

legend{
    font-style: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #343326;
    background-color:#f5e2be96; 
    font-weight: bolder;
    z-index:100;
    margin: 100px 0px -9px 125px;
    width: fit-content;
    font-size: 20px;
}

input[type='text'] {
    width:200px;
    height:30px;
    font-size:10px;
    padding-left: 10px;
}

#addLocation{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border: 2px solid wheat;
    color: #a7340b;
    margin: 0px 0px 0px 100px;
    padding: 20px;
    max-width: 28%;
}

#addButton{
    font-family: Arial, Helvetica, sans-serif;
    width:100px;
    height:40px;
    font-size:15px;
    border-radius: 12%;
    color: #343326;
    background-color:wheat;
}

#addButton:hover{
    color: wheat;
    background-color: #a7340b;

}

/* #salesData {
  margin: 50px;
}

#salesData ul{
    margin: 25px 0px;
}

li{
    line-height: 1.5;
    margin-left: 150px;
}
 */

 #footer-list{
    align-content: space-between;
    align-items: center;
    padding: 30px 200px;
    line-height: 1.5;
    font-weight: bold;

 }

 footer > img {
    max-height: 75px;
    padding: 30px;
 }

 #footer-copy {
     font-size: 15px;
     padding: 75px 20px;
 }
#social{
    max-height: 75px;
}

footer {
    display: inline-flex;
    align-content: space-around;
    justify-items: center;
    margin-top: 70px;
    background-color: wheat;
    border: 1px solid #a7340b;
    width: 100%;
}