/* colors: dark salmon: #a7340b; light salmon: #a7350b4f
background: ##f5e2be96; nav: wheat, hover #a7350b4f; text olive: #343326
*/

h1{
    color: #a7340b;
    font-size: 42px;
    margin: 0px 0px;
    text-align: center;
}

h2{
    color: #a7340b;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

 #hours-contact{
    display: inline-flex;
    align-content: space-between;
    margin: 50px;

}
 
p {
    margin-bottom: 25px;
    
}

li{
    line-height: 1.5;
}


header {
    display: inline-flex;
}

#hero {
    margin: 20px 20px;
    width: 175px;
    
}

#backButton {
    margin: 20px 20px 0px;

}

#salesButton, #backButton {
    text-decoration: none;
    color: #a7340b;
}

#salesButton{
    margin: 75px 20px 0px 75px;
}

body{
    background-color: #f5e2be96;
    color: #343326;
}

nav{
    display: inline-flex;
    margin: 100px;
}

nav ul li {
    font-size: 15px;
    font-weight: 300;
    display: inline;
    border: 2px solid #a7340b;
    padding: 10px;
    color: #343326;
    background-color:wheat;
    margin: 25px;
    border-radius: 12%;
}

 nav ul li:hover{
    background-color: #a7350b4f;
}

#main-copy{
    margin:  50px 250px;
}

#italic{
    font-style: italic;
    color: #a7340b;
}

#bold{
    font-style: bolder;
    color: #a7340b;
}


#hours-contact{
    
    margin-left: 175px;
}

#hours-contact img{
    width: 300px;
    margin: 0px 100;
}



#salesData2{
    margin: 80px;
    width: auto;

}

#salesData2 tr:first-child {
    height: 50px;
    border: none;
    font-weight: bolder;
}

#salesData2 tr:first-child > td {
    border: none;
}

#salesData2 td {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;

}


/* #salesData {
  margin: 50px;
}

#salesData ul{
    margin: 25px 0px;
}

li{
    line-height: 1.5;
    margin-left: 150px;
}
 */

 #footer-list{
    align-content: space-between;
    align-items: center;
    padding: 30px 200px;
    line-height: 1.5;
    font-weight: bold;

 }

 footer > img {
     max-height: 75px;
     padding: 30px;
 }

 #footer-copy {
     font-size: 15px;
     padding: 75px 20px;
 }

footer {
    display: inline-flex;
    align-content: space-around;
    justify-items: center;
    margin-top: 300px;
    background-color: wheat;
    border: 1px solid #a7340b;
    width: 100%;
}